RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Security Headers
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "strict-origin-when-cross-origin"

# Disable directory browsing
Options -Indexes

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to files with extensions .env, .log, .json
<FilesMatch "\.(env|log|json)$">
Order allow,deny
Deny from all
</FilesMatch>
